<div class="container m-5">
  <div class="row d-flex justify-content-center">
    <div class="col-6">
      <h1>{{title}}</h1>
      <p>Scraping .. <a href="{{title}}"></a> {{title}}</p>

      <div>
        <form method="post" class="form-group ">

          <label for="example-date-input" class="col-2 col-form-label">Date</label>
          <div class="input-group mb-3">
            <input type="date" class="form-control" name="link" placeholder="{{value}}" aria-label="Date"
              aria-describedby="button-addon2">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" name="getData" type="submit" id="button-addon2">Start</button>
            </div>
          </div>

          {{!-- <div><input class="form-control" type="date" name="link" placeholder="{{value}}" value="" /></div>
        <div>
            <input class="" type="submit" value="click" name="getData">
            
        </div> --}}


      </div>
    </div>


  </div>

  <div class="row">

    <a href="/sheetImage">upload routes</a>
  </div>

</div>